
.product-specifications,
.product-comparison-details {
  padding-bottom: 40px;
  color: #333;
}

.product-comparison-details {
  display: none;
}

.product-specifications h2 {
  padding-bottom: 0;
}

.product-specifications table,
.product-comparison-details table {
  width: 100%;
  line-height: 1.42857;
}

.product-specifications table thead td {
  width: 50%;
}

.product-comparison-details table img {
  max-height: 266px;
}

.product-comparison-details table.striped td.current {
  background-color: rgba(0, 0, 0, .1);
}

.product-specifications table.striped tbody tr:nth-child(odd),
.product-comparison-details table.striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.product-comparison-details table.striped thead tr td,
.product-comparison-details table.striped tbody tr td {
  text-align: center;
  vertical-align: middle;
}

.product-comparison-details table.columns-3 thead td {
  width: calc(100% / 3);
}

.product-comparison-details table.columns-4 thead td {
  width: calc(100% / 4);
}

.product-comparison-details table.columns-5 thead td {
  width: calc(100% / 5);
}

.product-comparison-details table.striped thead tr td:first-of-type,
.product-comparison-details table.striped tbody tr td:first-of-type {
  text-align: left;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .product-specifications {
    display: none;
  }

  .product-comparison-details {
    display: block;
  }

  .product-comparison-details table img {
    max-height: 266px;
  }
}

@media screen and (min-width: 1024px) {
  .product-comparison-details table img {
    max-height: 348px;
  }
}

@media screen and (min-width: 1280px) {
  .product-comparison-details table img {
    max-height: 400px;
  }
}
