/* stylelint-disable no-descending-specificity */

header {
  font-family: var(--body-font-family);
  line-height: 1.4286;
}

header a {
  color: #fff;
}

nav > .navbar {
  background-image: url('/images/mobile-header-bg.png');
  background-repeat: repeat-x;
  background-size: auto 74px;
  background-position-x: left;
  background-position-y: top;
  width: 100%;
  min-height: var(--nav-height);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}


nav > .navbar a {
  font-size: var(--body-font-size-s);
}

nav .nav-languages,
nav .nav-help,
nav .nav-products {
  display: none;
}

nav .navbar.open {
  padding-bottom: 10px;
  background-color: var(--airless-blue);
}

.navbar li > a:hover,
.navbar li > a:focus {
  text-decoration: none;
  color: #ffcd00;
}

.navbar .nav-languages {
  font-size: var(--body-font-size-s);
  padding: 0 25px;
}

.navbar .navbar-mobile-toggle-wrapper {
  width: 100%;
  height: 74px;
  background-image: url('/images/mobile-header-logo.png');
  background-repeat: no-repeat;
  background-size: auto 74px;
}

.navbar .navbar-mobile-toggle {
  display: block;
  float: right;
  padding: 10px 10px 9px;
  margin: 13px 15px 8px 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar .navbar-mobile-toggle:hover,
.navbar .navbar-mobile-toggle:focus {
  border-color: #fff;
}

.navbar .navbar-mobile-toggle .icon-bar {
  display: block;
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 0;
}

.navbar .navbar-mobile-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar .nav-languages li > a {
  display: block;
  padding: 5px 15px 10px;
}

.navbar .nav-languages .language-select .language-menu {
  display: none;
  padding: 5px 0;
  margin: 2px 0 0;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 15%);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  font-size: var(--body-font-size-xs);
  position: absolute;
}

.navbar .nav-languages .language-select .language-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  font-size: var(--body-font-size-xs);
}

.navbar .nav-languages .language-select .language-menu li a:hover,
.navbar .nav-languages .language-select .language-menu li a:focus {
  background-color: var(--overlay-background-color)
}

.navbar .nav-languages .language-select .language-menu li.active a {
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
  color: #fff;
}

.navbar .nav-languages .language-select.open .language-menu {
  display: block;
}

.navbar .nav-help li > a,
.navbar .nav-products li > a {
  display: block;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 25px;
  font-size: var(--body-font-size-xs);
}

.navbar .nav-help,
.navbar .nav-products {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar.open .nav-languages,
.navbar.open .nav-help,
.navbar.open .nav-products {
  display: flex;
}

@media screen and (min-width: 768px) {
  header {
    background-color: #666;
  }

  header .header {
    background-image: url('../../images/header-bg.jpg');
    background-repeat: repeat-x;
    background-size: auto calc(284px / (1600 / 768));
  }

  nav > .navbar {
    display: block;
    background-image: url('https://main--airlessco--hlxsites.hlx.page/media_1b84d43edf5cb246e236f600196514d82bbb4c996.webp?auto=webp&optimize=medium');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    margin: 0 auto;
    min-height: var(--nav-height);
    width: 768px;
    position: relative;
  }

  nav .navbar.open {
    padding-bottom: 0;
  }

  .navbar > div {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-end;
  }

  .navbar a {
    display: block;
  }

  .navbar .navbar-mobile-toggle-wrapper {
    display: none;
  }

  .navbar .nav-languages li > a {
    padding: 10px 15px;
  }

  .navbar .nav-help {
    padding: 0
  }

  .navbar .nav-help,
  .navbar .nav-products {
    line-height: 20px;
  }

  .navbar .nav-help > ul {
    padding: 0 31px;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }

  .navbar .nav-help li > a {
    padding: 20px 8px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .navbar .nav-products {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar .nav-products > ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  html[lang="es"] .navbar .nav-products > ul,
  html[lang="cz"] .navbar .nav-products > ul,
  html[lang="de"] .navbar .nav-products > ul,
  html[lang="fr"] .navbar .nav-products > ul,
  html[lang="nl"] .navbar .nav-products > ul,
  html[lang="pl"] .navbar .nav-products > ul {
    padding-top: 23px;
    justify-content: flex-start;
  }

  html[lang="it"] .navbar .nav-products > ul {
    padding-top: 23px
  }

  .navbar .nav-products li > a {
    padding: 18px 24px;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  header .header {
    background-size: auto calc(284px / (1600 / 1004));
  }

  nav .navbar {
    min-height: var(--nav-height);
    width: 1004px;
  }

  .navbar .nav-help > ul {
    padding-top: 20px;
    padding-right: 38px;
  }

  .navbar .nav-help li > a {
    padding: 20px 13px;
  }

  .navbar .nav-products > ul {
    padding-top: 10px;
  }

  html[lang="cz"] .navbar .nav-products > ul,
  html[lang="de"] .navbar .nav-products > ul,
  html[lang="es"] .navbar .nav-products > ul,
  html[lang="fr"] .navbar .nav-products > ul,
  html[lang="it"] .navbar .nav-products > ul,
  html[lang="nl"] .navbar .nav-products > ul,
  html[lang="pl"] .navbar .nav-products > ul {
    padding-top: 30px;
  }

  .navbar .nav-products li > a {
    padding: 18px 36px;
  }

  .navbar .nav-help li > a,
  .navbar .nav-products li > a {
    font-size: var(--body-font-size-s);
  }

}

@media screen and (min-width: 1280px) {
  header .header {
    background-size: auto calc(284px / (1600 / 1260));
  }

  nav .navbar {
    height: var(--nav-height);
    width: 1260px;
  }

  .navbar .nav-help > ul {
    padding: 19px 42px 0;
  }

  .navbar .nav-help li > a {
    padding: 40px 18px;
  }

  html[lang="cz"] .navbar .nav-help li > a,
  html[lang="de"] .navbar .nav-help li > a,
  html[lang="es"] .navbar .nav-help li > a,
  html[lang="fr"] .navbar .nav-help li > a,
  html[lang="it"] .navbar .nav-help li > a,
  html[lang="nl"] .navbar .nav-help li > a,
  html[lang="pl"] .navbar .nav-help li > a {
    font-size: var(--body-font-size-s);
  }

  .navbar .nav-products > ul {
    padding-top: 13px;
  }

  .navbar .nav-products li > a {
    padding: 15px 46px;
    font-size: var(--body-font-size-m);
  }

  .navbar .nav-help li > a,
  .navbar .nav-products li > a {
    font-size: var(--body-font-size-m);
  }

  html[lang="cz"] .navbar .nav-products > ul {
    padding-top: 38px;
  }

  html[lang="cz"] .navbar .nav-products li > a,
  html[lang="de"] .navbar .nav-products li > a,
  html[lang="fr"] .navbar .nav-products li > a,
  html[lang="it"] .navbar .nav-products li > a,
  html[lang="nl"] .navbar .nav-products li > a {
    padding: 5px 15px 20px;
    font-size: var(--body-font-size-s);
  }

  html[lang="es"] .navbar .nav-products li > a,
  html[lang="pl"] .navbar .nav-products li > a {
    padding: 13px 15px;
    font-size: var(--body-font-size-s);
  }
}

@media screen and (min-width: 1600px) {
  header {
    background-color: transparent;
  }

  header .header {
    background: none;
    width: 1600px;
    margin: auto;
  }

  nav .navbar {
    min-height: var(--nav-height);
    width: 1600px;
  }

  .navbar .nav-help > ul {
    padding: 0 75px;
  }

  .navbar .nav-help li > a {
    padding: 77px 20px 80px;
  }

  .navbar .nav-products > ul,
  html[lang="de"] .navbar .nav-products > ul,
  html[lang="es"] .navbar .nav-products > ul,
  html[lang="fr"] .navbar .nav-products > ul,
  html[lang="it"] .navbar .nav-products > ul,
  html[lang="nl"] .navbar .nav-products > ul  {
    padding: 0;
  }

  .navbar .nav-products li > a {
    padding: 16px 80px;
  }

  html[lang="en"] .navbar .nav-help li > a,
  html[lang="en"] .navbar .nav-products li > a,
  html[lang="es"] .navbar .nav-help li > a,
  html[lang="es"] .navbar .nav-products li > a,
  html[lang="de"] .navbar .nav-help li > a,
  html[lang="de"] .navbar .nav-products li > a,
  html[lang="fr"] .navbar .nav-help li > a,
  html[lang="fr"] .navbar .nav-products li > a,
  html[lang="it"] .navbar .nav-help li > a,
  html[lang="it"] .navbar .nav-products li > a,
  html[lang="nl"] .navbar .nav-help li > a,
  html[lang="nl"] .navbar .nav-products li > a {
    font-size: var(--body-font-size-l);
  }

  html[lang="cz"] .navbar .nav-help li > a,
  html[lang="cz"] .navbar .nav-products li > a,
  html[lang="pl"] .navbar .nav-help li > a,
  html[lang="pl"] .navbar .nav-products li > a {
    font-size: var(--body-font-size-m);
  }

  html[lang="cz"] .navbar .nav-products > ul,
  html[lang="pl"] .navbar .nav-products > ul {
    padding: 10px 0 0;
  }

  html[lang="cz"] .navbar .nav-products li > a,
  html[lang="pl"] .navbar .nav-products li > a {
    padding: 20px 30px;
  }

  html[lang="de"] .navbar .nav-products li > a ,
  html[lang="es"] .navbar .nav-products li > a,
  html[lang="fr"] .navbar .nav-products li > a,
  html[lang="it"] .navbar .nav-products li > a,
  html[lang="nl"] .navbar .nav-products li > a {
    padding: 15px 30px;
  }


}
