@media screen and (min-width: 768px) {
  header .header {
    background-image: url('../../images/header-bg.jpg');
    background-repeat: repeat-x;
    background-size: auto calc(284px / (1600/768));
    background-color: #666;
  }

  header .navbar-mobile {
    display: none;
  }

  header .navbar {
    background-image: url('https://main--airlessco--hlxsites.hlx.page/media_1b84d43edf5cb246e236f600196514d82bbb4c996.webp?auto=webp&optimize=medium');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    margin: 0 auto;
    height: 159px;
    width: 768px;
    position: relative;
    font-size: var(--body-font-size-xs);
  }

  nav > div {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-end;
  }

  nav a {
    display: block;
  }

  nav .nav-help, nav .nav-products {
    line-height: 20px;
  }

  nav .nav-help > ul {
    padding: 0 31px;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }

  nav .nav-help li > a {
    padding: 20px 8px;
    text-transform: uppercase;
    font-weight: 600;
  }

  nav .nav-products {
    padding: 0 15px;
  }

  nav .nav-products > ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }

  nav .nav-products li > a {
    padding: 18px 24px;
    text-transform: uppercase;
    font-weight: 600;
  }

  nav .nav-languages {
    font-size: var(--body-font-size-s);
    padding: 0 25px;
  }

  nav .nav-languages li > a {
    display: block;
    padding: 10px 15px;
  }

  nav .nav-languages li > a:hover,
  nav .nav-languages li > a:focus {
    text-decoration: none;
    color: #ffcd00;
  }

  nav .nav-languages .language-select .language-menu {
    display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    font-size: var(--body-font-size-xs);
  }

  nav .nav-languages .language-select .language-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    color: #333;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
  }

  nav .nav-languages .language-select .language-menu li.active a {
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
    color: #fff;
  }

  nav .nav-languages .language-select.open .language-menu {
    display: block;
  }

  nav .nav-brand {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  header .header {
    background-size: auto calc(284px / (1600/1024));
  }

  header .navbar {
    height: 190px;
    width: 1024px;
    font-size: var(--body-font-size-s);
  }

  nav .nav-help > ul {
    padding-top: 20px;
    padding-right: 38px;
  }

  nav .nav-help li > a {
    padding: 20px 13px;
  }

  nav .nav-products > ul {
    padding-top: 10px;
  }

  nav .nav-products li > a {
    padding: 18px 36px;
  }
}

@media screen and (min-width: 1280px) {
  header .header {
    background-size: auto calc(284px / (1600/1280));
  }

  header .navbar {
    height: 227px;
    width: 1280px;
    font-size: var(--body-font-size-m);
  }

  nav .nav-help > ul {
    padding: 19px 42px 0;
  }

  nav .nav-help li > a {
    padding: 40px 18px;
  }

  nav .nav-products > ul {
    padding-top: 13px;
  }

  nav .nav-products li > a {
    padding: 15px 46px;
  }
}

@media screen and (min-width: 1600px) {
  header .header {
    background: none;
    width: 100%;
  }

  header .navbar {
    height: 284px;
    width: 1600px;
    font-size: var(--body-font-size-l);
  }

  nav .nav-help > ul {
    padding: 0 75px;
  }

  nav .nav-help li > a {
    padding: 77px 20px 80px;
  }

  nav .nav-products > ul {
    padding: 0;
  }

  nav .nav-products li > a {
    padding: 16px 80px;
  }
}

header {
  font-family: var(--body-font-family);
  line-height: 1.4286;
}

header a {
  color: #fff;
}


/* !* header and nav layout *! */

/* header nav { */

/*  display: grid; */

/*  grid-template: */

/*    'hamburger brand tools' var(--nav-height) */

/*    'sections sections sections' 1fr / 50px 1fr 50px; */

/*  align-items: center; */

/*  z-index: 1; */

/*  background-color: var(--background-color); */

/*  width: 100vw; */

/*  height: var(--nav-height); */

/*  font-family: var(--body-font-family); */

/* } */

/* .navbar a { */

/*  text-decoration: none; */

/* } */

/* header nav a:any-link { */

/*  color: currentcolor; */

/* } */

/* header nav[aria-expanded='true'] { */

/*  grid-template: 'hamburger brand' 'sections sections' 'tools tools'; */

/*  grid-template-columns:  56px 1fr; */

/*  overflow-y: scroll; */

/*  min-height: 100vh; */

/* } */

/* !* brand *! */

/* header .nav-brand { */

/*  font-size: 22px; */

/*  font-weight: 700; */

/*  line-height: 1em; */

/*  position: relative; */

/*  width: 900px; */

/*  top: 80px; */

/*  left: 20px; */

/* } */

/* header nav .nav-brand p { */

/*  margin: 0; */

/* } */

/* header nav .nav-brand img { */

/*  width: 128px; */

/*  height: auto; */

/* } */

/* header nav .nav-brand ul  { */

/*  font-size: 22px; */

/*  font-weight: 600; */

/*  list-style: none; */

/*  padding-left: 0; */

/*  display: flex; */

/*  color: #fff; */

/*  width: 1400px; */

/* } */

/* header nav .nav-brand li { */

/*  font-size: 22px; */

/*  font-weight: 600; */

/*  width: 300px; */

/* } */

/* !* hamburger *! */

/* header nav .nav-hamburger { */

/*  grid-area: hamburger; */

/*  height: 22px; */

/*  padding-top: 3px; */

/*  cursor: pointer; */

/* } */

/* header nav[aria-expanded='false'] .nav-hamburger-icon, */

/* header nav[aria-expanded='false'] .nav-hamburger-icon::after, */

/* header nav[aria-expanded='false'] .nav-hamburger-icon::before { */

/*  box-sizing: border-box; */

/*  position: relative; */

/*  display: block; */

/*  top: 8px; */

/*  width: 20px; */

/*  height: 2px; */

/*  border-radius: 3px; */

/*  background: currentcolor; */

/* } */

/* header nav[aria-expanded='false'] .nav-hamburger-icon::after, */

/* header nav[aria-expanded='false'] .nav-hamburger-icon::before { */

/*  content: ''; */

/*  position: absolute; */

/*  top: -6px; */

/* } */

/* header nav[aria-expanded='false'] .nav-hamburger-icon::after { */

/*  top: 6px; */

/* } */

/* header nav[aria-expanded='true'] .nav-hamburger-icon { */

/*  box-sizing: border-box; */

/*  position: relative; */

/*  display: block; */

/*  width: 22px; */

/*  height: 22px; */

/*  border: 2px solid transparent; */

/*  border-radius: 5px; */

/*  transform: translate(-3px, -2px); */

/* } */

/* header nav[aria-expanded='true'] .nav-hamburger-icon::after, */

/* header nav[aria-expanded='true'] .nav-hamburger-icon::before { */

/*  content: ''; */

/*  display: block; */

/*  box-sizing: border-box; */

/*  position: absolute; */

/*  width: 22px; */

/*  height: 2px; */

/*  background: currentcolor; */

/*  transform: rotate(45deg); */

/*  border-radius: 5px; */

/*  top: 8px; */

/*  left: 1px */

/* } */

/* header nav[aria-expanded='true'] .nav-hamburger-icon::after { */

/*  transform: rotate(-45deg) */

/* } */

/* !* sections *! */

/* header nav .nav-sections { */

/*  grid-area: sections; */

/*  flex-direction: column; */

/*  display: none; */

/*  flex: 1 1 auto; */

/*  color: #fff; */

/*  position: relative; */

/*  left: 580px; */

/*  top: 80px; */

/* } */

/* header nav .nav-sections ul  { */

/*  font-size: 22px; */

/*  font-weight: 600; */

/*  list-style: none; */

/*  padding-left: 0; */

/* } */

/* header nav .nav-sections li { */

/*  font-size: 22px; */

/*  font-weight: 600; */

/* } */

/* header nav[aria-expanded='true'] .nav-sections { */

/*  display: block; */

/*  align-self: flex-start; */

/* } */

/* !* tools *! */

/* header nav .nav-tools { */

/*  grid-area: tools; */

/*  flex: 0 0 auto; */

/*  height: 22px; */

/*  left: 550px; */

/*  position: relative; */

/* } */

/* header nav .nav-tools p { */

/*  margin: 0; */

/* } */

/* header nav .nav-tools ul { */

/*  list-style: none; */

/*  flex-direction: row; */

/*  color: #fff; */

/*  font-size: 16px; */

/* } */

/* body > header > div > nav > div.nav-tools > ul { */

/*  display: flex; */

/* } */

/* header > div > nav > div.nav-tools > ul > li { */

/*  cursor: pointer; */

/* } */

/* header nav[aria-expanded='true'] .nav-tools li { */

/*  padding: 0; */

/* } */

/* !* this is the dropdown *! */

/* header > div > nav > div.nav-tools > ul > li > ul { */

/*  display: none; */

/*  border-radius: 4px; */

/*  box-shadow: 0 6px 12px rgb(0 0 0 / 18%); */

/*  font-size: 14px; */

/*  padding: 5px 0; */

/*  margin-top: 0; */

/* } */

/* header > div > nav > div.nav-tools > ul > li > ul > li > a { */

/*  padding: 3px 20px; */

/* } */

/* header nav[aria-expanded='true'] .nav-tools ul { */

/*  font-size: unset; */

/*  flex-direction: column; */

/* } */

/* header nav .nav-tools > ul > li[aria-expanded='true'] ul { */

/*  display: block; */

/*  background-color: #fff; */

/*  width: 300px; */

/*  left: 0; */

/*  color: #000; */

/* } */

/* header > div > nav > div.nav-tools > ul > li:hover { */

/*  color: #FFcd00; */

/* } */

/* header > div > nav > div.nav-tools .active { */

/*  background-color: #337ab7; */

/*  color: #fff; */

/* } */

/* header nav[aria-expanded='true'] .nav-tools img { */

/*  display: unset; */

/* } */

/* !* desktop nav styles *! */

/* @media (min-width: 1000px) { */

/*  header nav { */

/*    display: flex; */

/*    justify-content: space-between; */

/*    height: var(--nav-height); */

/*  } */

/*  header nav .nav-sections > ul > li.nav-drop { */

/*    position: relative; */

/*    padding-right: 32px; */

/*  } */

/*  header nav .nav-drop::after { */

/*    content: ' '; */

/*    transform: rotate(135deg); */

/*    border-width: 2px 2px 0 0; */

/*    display: inline-block; */

/*    width: 6px; */

/*    height: 6px; */

/*    position: absolute; */

/*    top: 8px; */

/*    right: 14px; */

/*  } */

/*  header nav .nav-hamburger { */

/*    display: none; */

/*  } */

/*  header nav .nav-sections { */

/*    display: unset; */

/*  } */

/*  header nav .nav-brand { */

/*    flex: 0 0 150px; */

/*  } */

/*  header nav .nav-sections ul { */

/*    display: flex; */

/*    flex-direction: row; */

/*    background-color: unset; */

/*    width: unset; */

/*    margin: 0; */

/*  } */

/*  header nav[aria-expanded='true'] .nav-sections ol { */

/*    display: flex; */

/*    min-height: unset; */

/*  } */

/*  header nav .nav-sections > ul > li { */

/*    padding: 0 16px; */

/*    position: relative; */

/*    font-size: 22px; */

/*    margin: 0; */

/*    cursor: pointer; */

/*  } */

/*  header nav .nav-sections > ul > li > p { */

/*    margin: 0; */

/*  } */

/*  header nav .nav-sections > ul > li > ul { */

/*    margin-top: 20px; */

/*    display: none; */

/*    position: relative; */

/*  } */

/*  header nav .nav-sections > ul > li > ul:any-link { */

/*    font-size: var(--body-font-size-m); */

/*  } */

/*  header nav .nav-sections > ul > li > ul::before { */

/*    content: ''; */

/*    width: 0; */

/*    height: 0; */

/*    position: absolute; */

/*    border-left: 15px solid transparent; */

/*    border-right: 15px solid transparent; */

/*    border-bottom: 15px solid var(--highlight-background-color); */

/*    top: -15px; */

/*    left: 20px; */

/*  } */


/*  header nav .nav-sections > ul > li > ul > li { */

/*    font-size: 18px; */

/*    padding: 8px 16px; */

/*  } */

/*  header nav .nav-sections > ul > li[aria-expanded='true'] ul { */

/*    display: block; */

/*    position: absolute; */

/*    background-color: var(--highlight-background-color); */

/*    width: 300px; */

/*    left: 0; */

/*    padding: 16px; */

/*  } */

/* } */

/* .navbar { */

/*  background-image: url('https://main--airlessco--hlxsites.hlx.page/media_1b84d43edf5cb246e236f600196514d82bbb4c996.webp?auto=webp&optimize=medium'); */

/*  background-repeat: no-repeat; */

/*  max-width: 1600px; */

/*  width: 1600px; */

/*  margin-left: auto; */

/*  margin-right: auto; */

/*  flex-direction: column-reverse; */

/* } */

/* .navbar a:hover { */

/*  color: #FFcd00; */

/* } */
