.accessories-category-wrapper {
  padding-bottom: 40px;
}

.accessories-category-wrapper h2 {
  padding-bottom: 0;
}

.accessories-category h2 strong {
  color: var(--airless-link-dark);
}

.accessories-category > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.accessories-category .accessory .accessory-card {
  border: 1px solid var(--airless-border);
  border-radius: 4px;
  height: 100%;
  background-color: var(--background-color);
}

.accessories-category .accessory-card .accessory-image {
  margin: 6px;
}

.accessories-category .accessory-card .accessory-image img {
  max-width: 100%;
  min-height: 150px;
}

.accessories-category .accessory-card .accessory-body {
  font-size: var(--body-font-size-xxs);
  color: var(--airless-link-dark);
  padding: 9px;
}

@media screen and (min-width: 768px) {
  .accessories-category > ul {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .accessories-category .accessory-card .accessory-image img {
    height: 205px;
    width: 205px;
  }
}

@media screen and (min-width: 1024px) {
  .accessories-category > ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .accessories-category .accessory-card .accessory-image img {
    height: 194px;
    width: 194px;
  }
}

@media screen and (min-width: 1280px) {
  .accessories-category > ul {
    grid-template-columns: repeat(5, 1fr);
  }

  .accessories-category .accessory-card .accessory-body {
    font-size: var(--body-font-size-xs)
  }

  .accessories-category .accessory-card .accessory-image img {
    height: 205px;
    width: 205px;
  }
}

@media screen and (min-width: 1600px) {
  .accessories-category > ul {
    grid-template-columns: repeat(6, 1fr);
  }

  .accessories-landing-template .accessories-category > ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .accessories-category .accessory-card .accessory-image img {
  height: 227px;
    width: 227px;
  }

  .accessories-landing-template .accessories-category .accessory-card .accessory-image img {
    height: 363px;
    width: 363px;
  }
}
