.accessories-category-wrapper {
  padding-bottom: 40px;
}

.accessories-category-wrapper h2 {
  padding-bottom: 0;
}

.accessories-category > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accessories-category .accessory {
  display: block;
}

.accessories-category .accessory .accessory-card {
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid var(--airless-border);
  border-radius: 4px;
}

.accessories-category .accessory-card .accessory-image img {
  height: 105px;
  width: auto;
}

.accessories-category .accessory-card .accessory-body {
  font-size: var(--body-font-size-xxs);
  color: var(--airless-link-dark);
  padding: 9px 4px;
}

@media screen and (min-width: 768px) {
  .accessories-category .accessory .accessory-card {
    margin-bottom: 20px;
  }

  .accessories-category .accessory-card .accessory-image img {
    height: 210px;
    width: auto;
  }

  .accessories-category .accessory-card .accessory-body {
    padding: 9px;
  }
}

@media screen and (min-width: 1024px) {
  .accessories-category .accessory-card .accessory-image img {
    height: 202px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .accessories-category .accessory-card .accessory-image img {
    height: 272px;
    width: auto;
  }

  .accessories-category .accessory-card .accessory-body {
    font-size: var(--body-font-size-xs)
  }
}

@media screen and (min-width: 1600px) {
  .accessories-category .accessory-card .accessory-image img {
    height: 360px;
    width: auto;
  }
}
