.accessories-category-wrapper {
    margin-left: 8.3333%;
    border-top: 8px solid #eee;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.accessories-category > ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    margin-right: -15px;
    margin-left: -15px;
}

.accessories-category > ul > li {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.accessories-category .productcards-productcard-body {
    margin: 16px;
    font-family: var(--body-font-family);
    max-width: 1600px;
    font-size: 14px;
    padding: 9px;
    color: #333;
    text-decoration: none;
}

.accessories-category .productcards-productcard-image {
    line-height: 0;
}

.accessories-category .productcards-productcard-body > *:first-child {
    margin-top: 0;
}

.accessories-category > ul > li img {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    overflow: clip;
    aspect-ratio: 1/1;
}

.accessories-category .productcards-productcard-div {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.4286;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}
