.separator-container h2{

    margin-left: -100px;
}

.separator {
    border-top: 8px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0;
    box-sizing: content-box;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

.separator.short {
    width: auto;
}

.separator.long {
    width: auto;

}

@media (min-width: 900px) {

    .separator.short {
        width: auto;
    }

    .separator.long {
        width: auto;

    }
}

@media (min-width: 1200px) {

    .separator.short {
        width: 1200px;
    }

    .separator.long {
        width: 1400px;
        margin-left: -100px;
    }
}