.section .productcards-container {
padding: 0;
}

.productcards > ul {
    list-style: none;   
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    margin-right: -15px;
    margin-left: -15px;
}

.productcards > ul > li {   
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.productcards .productcards-productcard-body {
    margin: 16px;
    font-family: eurostile, 'Titillium Web', sans-serif;
    max-width: 1600px;   
    font-size: 14px;
    padding: 9px;
    color: #333;
    text-decoration: none;
}

.productcards .productcards-productcard-image {
    line-height: 0;    
}

.productcards .productcards-productcard-body > *:first-child {
    margin-top: 0;
}

.productcards > ul > li img {
    width: 100%;
    display: block;
    max-width: 100%;    
    height: auto;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
    aspect-ratio: 1/1;
}

.productcards .productcards-productcard-div {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.4286;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;        
}