
.productcards-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.productcards {
  display: flex;
  flex-wrap: wrap;
}

h1#accessories-title strong {
  color: var(--airless-blue);
}

.productcards-container {
  padding-bottom: 50px;
}

.productcards-container h2 {
  font-weight: bold;
  color: var(--airless-link-dark);
}

.productcards.last {
  padding-bottom: 40px;
}

.productcards .productcard {
  flex-basis: 50%;
}

.productcards .productcard > a {
  display: block;
  padding: 4px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  line-height: 1.4286;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border .2s ease-in-out;
}

.productcards .productcard-body {
  padding: 9px;
  font-size: var(--body-font-size-xxs);
  color: #333;
}

.productcards .productcard-image img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .productcards .productcard {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .productcards-container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .productcards .productcard-body {
    font-size: var(--body-font-size-xs);
  }
}
