.productcards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 15px;
}

h1#accessories-title strong {
  color: var(--airless-blue);
}

.card-heading.productcards-container {
  padding-bottom: 50px;
  margin: 0 auto;
}

.productcards-container h2 {
  font-weight: bold;
  color: var(--airless-link-dark);
}

.productcards.last {
  padding-bottom: 40px;
}

.productcards .productcard {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.productcards .productcard > a {
  display: block;
  padding: 4px;
  line-height: 1.4286;
}

.productcards .productcard-body {
  padding: 9px;
  font-size: var(--body-font-size-xxs);
  color: #333;
}

.productcards .productcard-image img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .productcards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .card-heading.productcards-container {
    width: 83.333%;
    margin: 0 auto;
  }

  .productcards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .productcards .productcard-body {
    font-size: var(--body-font-size-xs);
  }
}
