
body {
  font-size: var(--body-font-size-m);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  line-height: 1.1;
  color: var(--airless-blue);
}

h3, h4, h5 {
  padding-top: 20px;
}

h5 {
  font-size: var(--heading-font-size-m);
  color: var(--text-color);
}

main ol,
main ul {
  margin-left: 5px;
  margin-right: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 0;
  display: block;
}

main ol {
  list-style-type: decimal;
}

main ul {
  list-style-type: disc;
}

main p {
  margin: 10px 0;
}

main p img {
  width: 100%;
}

main p em {
  font-style: italic;
}

main .section {
  margin-top: 40px;
}

main .accessories-details-container {
  display:unset;
}

main .section.resources-container {
  width: 100%;
}

main .section.productcards-container .productcards-wrapper,
main .section.product-details-container .product-details-wrapper{
  margin-top: 20px;
}

main .section.resources-container .resources-wrapper .resources {
  margin: auto;
  width: 83%;
}

main .section.accessories-category-container .accessories-category-wrapper,
main .section.accessories-details-container .accessories-details-wrapper,
main .section.productcards-container .productcards-wrapper,
main .section.product-comparison-container .product-comparison-wrapper,
main .section.product-details-container .product-details-wrapper,
main .section.resources-container .resources-wrapper {
  background-color: var(--overlay-background-color);
}