/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url('reset.css');

/* breakpoints
  sm: 640px;
  md: 768px;
  lg: 1024px;
  xl: 1280px;
  xxl: 1600px;
*/

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --airless-blue: #0033ab;

  /* fonts */
  --body-font-family: eurostile, 'Titillium Web', sans-serif;
  --heading-font-family: var(--body-font-family);

  /* body sizes */
  --body-font-size-l: 22px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12px;

  /* heading sizes */
  --heading-font-size-xl: 30px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 12px;


  /* section widths */
  --section-width-tablet: 1198px;
  --section-width-desktop: 1600px;
}

/** Franklin Required **/

body {
  display: none;
  font-family: var(--body-font-family);
}

body.appear {
  display: block;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/** End Franklin Required **/

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  line-height: 1.1;
  color: var(--airless-blue);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl);
  padding-bottom: 10px;
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
}

b, strong {
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
