/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url('reset.css');

/* breakpoints
  sm: <768px;
  md: 768px;
  lg: 1024px;
  xl: 1280px;
  xxl: 1600px;
*/

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --airless-blue: #0033ab;
  --airless-border: #ddd;
  --airless-link-dark: #333;

  /* fonts */
  --body-font-family: eurostile, 'Titillium Web', sans-serif;
  --heading-font-family: var(--body-font-family);

  /* body sizes */
  --body-font-size-l: 22px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 36px;
  --heading-font-size-xl: 30px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 12px;

  /* Fixed height of nav to maintain CLS */
  --nav-height: 74px;
}

/** Franklin Required **/
body {
  display: none;
  font-family: var(--body-font-family);
}

body.appear {
  display: block;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/** End Franklin Required **/

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  line-height: 1.1;
  color: var(--airless-blue);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl);
  padding-bottom: 10px;
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
}

b, strong {
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

header {
  min-height: var(--nav-height);
}

main {
  margin: 10px 0;
  padding: 0 15px;
}

main .section {
  display: block;
  border-top: 8px solid var(--overlay-background-color);
  margin-top: 20px;
}

main .section.page-header-container {
  margin-top: 30px;
}

main .section.card-heading h3 {
  font-weight: 400;
  line-height: 1;
  color: #777;
  font-size: calc(var(--heading-font-size-l) * .65);
}

main .section.card-heading h3 strong {
  font-weight: 700;
  line-height: 1.1;
  color: var(--airless-blue);
  font-size: var(--heading-font-size-l);
}

.accessories > div > div {
  border: 1px solid var(--airless-border);
  margin-bottom: 20px;
}

.accessories .button-container {
  padding: 9px;
  font-size: 14px;
}

.accessories .button-container > a {
  color: var(--airless-link-dark);
}

@media screen and (min-width: 768px) {
  :root[lang="cz"],
  :root[lang="de"],
  :root[lang="fr"],
  :root[lang="nl"],
  :root[lang="pl"] {
    --nav-height: 238px;
  }

  :root[lang="en"] {
    --nav-height: 159px;
  }

  :root[lang="es"],
  :root[lang="it"]{
    --nav-height: 179px;
  }

  main {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 0 25px;
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  :root[lang="cz"],
  :root[lang="pl"] {
    --nav-height: 266px;
  }

  :root[lang="de"],
  :root[lang="fr"],
  :root[lang="it"],
  :root[lang="nl"] {
    --nav-height: 210px;
  }

  :root[lang="en"] {
    --nav-height: 190px;
  }

  :root[lang="es"] {
    --nav-height: 265px;
  }

  main {
    margin: 20px auto;
    width: 1024px;
    padding: 0 42px;
  }
}

@media screen and (min-width: 1280px) {
  :root[lang="cz"],
  :root[lang="es"],
  :root[lang="de"],
  :root[lang="fr"],
  :root[lang="it"],
  :root[lang="nl"],
  :root[lang="pl"] {
    --nav-height: 245px;
  }

  :root[lang="en"] {
    --nav-height: 227px;
  }

  main {
    width: 1280px;
    padding: 0 31px;
  }
}

@media screen and (min-width: 1600px) {
  :root[lang="cz"],
  :root[lang="en"],
  :root[lang="es"],
  :root[lang="de"],
  :root[lang="fr"],
  :root[lang="it"],
  :root[lang="nl"],
  :root[lang="pl"] {
    --nav-height: 284px;
  }

  main {
    width: 1600px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1630px) {
  main {
    padding: 0;
  }
}
