main .breadcrumb-container.section {
  display: none;
}

@media screen and (min-width: 768px) {
  main .breadcrumb-container.section {
    display: block;
    margin-top: 0;
    border-top: none;
  }

  .breadcrumb-wrapper {
    padding-top: 10px;
  }

  .breadcrumb > li {
    display: inline-block;
    color: var(--airless-header-gray);
  }

  .breadcrumb > li + li::before {
    padding: 0 5px;
    color: var(--airless-header-gray);
    content: "/\00a0";
  }
}